:root{
    --grey: #545454;
    --lightgrey: #8c8c8c;
    --darkgrey: #333333;
}

body{
    background-color: var(--grey)
}

a{ 
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

#bookmarkSearchField{
    color: white;
    background-color: var(--grey)
}

#bookmarkList{
    font-size: 100%;
}

.bookmarkElement{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.bookmarkElementFocused{
    background-color: var(--darkgrey);
}
