body{
    background-color: darkgray
}

a{ 
    text-decoration: none;
}

#bookmarkSearchField{
    color: white;
    background-color: darkgray
}

#bookmarkList{
    font-size: 100%;
}

.bookmarkElement{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border: 1px solid black;
}

.bookmarkElementFocused{
    background-color: gray;
}
